// Here you can add other styles
// *:hover,
// *:focus,
// *:active {
//   outline: none;
//   box-shadow: none !important;
//   appearance: none;
//   -webkit-appearance: none;
// }

app-header {
  background-color: #364150 !important;
  color: #fff;

  .app-title {
    font-weight: unset;
    margin-bottom: unset;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar-nav .nav-link {
    color: #fff;
  }
}

app-sidebar-nav {
  app-sidebar-nav-items {
    background-color: #364150 !important;
  }
}

.sidebar .nav-link:hover {
  background: #000;
}

.pt-30 {
  padding-top: 30px !important;
}

h6.username {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.menu-margin a {
  padding-left: 23px !important;
}

table {
  // min-width: 1600px;
  &.table {
    thead {
      background-color: $primary;
      color: $white;
      height: 50px;
    }
  }
}

.ng-select-disabled .ng-select-container {
  background-color: #e4e7ea !important;
}

.cs-page {
  padding-top: 8px;
  margin-left: 10px !important;
}

.border-shadow {
  box-shadow: 0 0.1rem 1rem #00000026 !important;
  padding: 1rem;
  border-radius: 0.3rem !important;
  margin: 0px 0px 20px 0px;
}

// style col-xxl
@media (min-width: 1400px) {
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.checkAll .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #fff;
}

.red_star {
  font-weight: 600;
  font-size: 1.2rem;
  color: red;
}
// Tree View
.box-tree {
  border: 2px solid #4f546c;
  border-radius: 10px;
  padding: 24px;
  margin: 15px 10px 12px 10px;
  position: relative;
  min-height: 600px;
}

.title-tree {
  position: absolute;
  left: 2rem;
  top: -1.1rem;
  padding: 0 0.5rem;
  color: #2a324b;
  font-size: 18px;
  font-weight: bold;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #ffffff;
}
.form-check-label {
  font-weight: 500;
}

.form-check.form-check-inline.ng-star-inserted > .form-check-label::before {
  content: "Select" !important;
}
.form-inline.row-item.ng-star-inserted {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 5px !important;
}

ngx-treeview-item > .treeview-item > .ng-star-inserted:not(.form-inline) {
  border-left: 1px solid #aaa;
  margin-left: 4px !important;
}

.row-item:not(.treeview-container > .row-item:first-child)::before {
  display: block;
  content: " ";
  width: 25px;
  height: 1px;
  border-bottom: 1px solid #aaa;
  top: 0.6em;
  left: -14px;
  margin-right: 6px;
  margin-left: -33px;
}

.ng-select-disabled .ng-select-container {
  background-color: #e4e7ea !important;
  color: #333333a1;
}

.empupload {
  border: 3px solid;
  border-radius: 10px;
  padding: 24px;
  margin: 15px 10px 12px 10px;

  .uptitle {
    position: absolute;
    left: 2rem;
    top: 0.1rem;
    padding: 0 0.5rem;
    font-size: 19px;
    font-weight: bold;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }

  .addnew {
    position: absolute;
    left: 2rem;
    top: -1.1rem;
    padding: 0 0.5rem;
    font-size: 19px;
    font-weight: bold;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }

  .upnote {
    color: #c30;
    font-size: 15px;
    margin-bottom: 24px;
  }

  .upform {
    &-form-left {
      float: left;
      padding-right: 4px;
      width: 75%;
    }

    &-form-right {
      float: left;
      padding-right: 4px;
      padding-left: 8px;
    }
  }

  a,
  a:hover {
    text-decoration: none;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
}

.form__label_ng {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
  position: absolute;
  left: 1rem;
  padding: 0 0.5rem;
  color: #6495ed;
  font-weight: bold;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.snotifyToast__body {
  white-space: pre-line !important;
}

.snotify-confirm {
  background-color: #f9b44e;
  color: #000;
}

/*Organization Chart*/
.ngx-org-box.ngx-org-border.ngx-org-background.layer-0 {
  border-radius: 5px;
  text-align: center;
}
.ngx-org-box.ngx-org-border.ngx-org-background.layer-1 {
  border: 5px solid;
  border-radius: 5px;
  border-color: #f86c6b;
  text-align: center;
}
.ngx-org-box.ngx-org-border.ngx-org-background.layer-2 {
  border-top: 5px solid;
  border-radius: 5px;
  border-top-color: #20a8d8;
  text-align: center;
}
.ngx-org-box.ngx-org-border.ngx-org-background.layer-3 {
  border: 4px dashed;
  border-radius: 5px;
  border-color: #4dbd74;
  text-align: center;
}
.ngx-org-box {
  box-shadow: none !important;
}
.ngx-org-title {
  white-space: pre-line !important;
}

input[type="checkbox"] {
  opacity: 0 !important;
  width: 0px;
  height: 0px;
}
input[type="checkbox"] + label {
  background: #fff;
}
input[type="checkbox"]:disabled + label::before {
  background: #fff;
}
input[type="checkbox"]:disabled + label:hover::before {
  border: 3px solid #6ecdf0;
}
input[type="checkbox"] + label:before {
  width: 16px;
  height: 16px;
  content: "";
  background: #fff;
  border-radius: 0.21428571rem;
  -webkit-transition: border 0.1s ease, opacity 0.1s ease;
  transition: border 0.1s ease, opacity 0.1s ease;
  border: 1px solid #d4d4d5;
}

input[type="checkbox"]:checked ~ label:before {
  background-color: #20a8d8;
  background-image: url(../assets/img/icon/check.svg);
  border: 2px solid #fff;
  color: #20a8d8 !important;
}
.form-check.form-check-inline.ng-star-inserted > .form-check-label::before {
  content: "___" !important;
  font-size: 11px !important;
  background-image: url(../assets/img/icon/check.svg);
  color: white;
}
.treeview-container[_ngcontent-ng-c2988043123] {
  overflow-y: hidden !important;
  height: 100% !important;
  max-height: none !important;
}
